.card-options-bar {
    position: fixed;
    top: 300px;

    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the logo horizontally */
    gap: 10px; /* Adds spacing between input and buttons */

    left: 0;
    right: 0;
    width: fit-content; /* Makes the div shrink-wrap to its content */
    margin: 0 auto; /* horizontally centers it */

}

.create-board-button {
position: fixed;
    top: 370px;

    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the logo horizontally */
    gap: 10px; /* Adds spacing between input and buttons */

    left: 0;
    right: 0;
    width: fit-content; /* Makes the div shrink-wrap to its content */
    margin: 0 auto; /* horizontally centers it */}

.search-bar input {
    padding: 8px;
    width: 300px;
    border-radius: 3px;
}

.search-bar button {
    border-radius: 4px;
    cursor: pointer;
    background-color: #8800a3;
    color: white;
}

.search-bar button:hover {
    background-color: #aa33cc;
}
