.BoardCard {
    height: 400px;
    width: 275px;
    background-color: #f9dafe;
    display: flex;
    flex-direction: column;
    border: solid 5px #f9dafe;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
    color:black;
  }

  .BoardCard:hover {
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.3);
  }

  /* .BoardCard .media {
    height: 250px;
    width: 100%;
  } */
  .BoardCard .media img {
    height: 250px;
    width: 275px;
    border-radius: 8px;
  }
  .BoardCard .board-info {
    flex: 1;
    display: flex;
    border-top: solid 1px var(--border-color);
  }
  .BoardCard .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
  }
  .BoardCard .info .board-name {
    font-size: 15px;
    font-weight: 500;
  }

  .BoardCard .actions {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .BoardCard .actions .buttons {
    width: 80px;
    height: 100%;
  
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .BoardCard .actions .buttons i {
    width: 20px;
    height: 20px;
    border: solid 1px var(--bright-green);
    color: var(--bright-green);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px 5px;
  }