/* Make body have space for fixed header and footer */
body {
  padding: 300px 100px;
  font-family: Arial, sans-serif;
  background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdGtncDk0NDA5djM0dTFtYzVreWVvd3M5bDgycDZzbG5laHlmYjkyeCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/P9vP8eFndm8FclATpS/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 250px;
  overflow: hidden;
  padding: 50px;
  background-color: #f9dafe;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the logo horizontally */
  /* z-index: 1000; */
}

.headerLogo img {
  height: 300px;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Adjust height as needed */
  background-color: #f9dafe;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the footer text horizontally */
  /* z-index: 1000; */
}


